{{> head}}
    <h3>{{title}}</h3>
    <p class="pull-right muted">Posted {{publish}}</p>
    <p>{{#tags}}<span class="label label-default">{{.}}</span> {{/tags}}</p>
    <div>{{{content}}}</div>
{{> foot}}
